
/Binary
/Debug
/Release
*.ncb
*.suo
*.user
*.o
*.a
*.so
*.log
/Dependencies/sampplugin/Release
/Dependencies/sampplugin/Debug
/Source/Shoebill/Debug
/Source/Shoebill/Release
/Source/Wrapper/Release
/Source/Wrapper/Debug
/Server
*.sdf
*.opensdf
Makefile
CMakeFiles
cmake_install.cmake
CMakeCache.txt