build
/Binary
/Debug
/Release
*.ncb
*.suo
*.user
*.o
*.a
*.so
*.log
/Dependencies/sampplugin/Release
/Dependencies/sampplugin/Debug
/Source/Shoebill/Debug
/Source/Shoebill/Release
/Source/Wrapper/Release
/Source/Wrapper/Debug
/Server
*.sdf
*.opensdf
Makefile
CMakeFiles
cmake_install.cmake
CMakeCache.txt
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
INSTALL.vcxproj
INSTALL.vcxproj.filters
server_log.txt
ShoebillPlugin.sln
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/ShoebillPlugin.iml
.idea/vcs.xml
.idea/workspace.xml
src/INSTALL.vcxproj
src/INSTALL.vcxproj.filters
src/Shoebill.vcxproj
src/Shoebill.vcxproj.filters
src/Debug/Shoebill.dll
src/Debug/Shoebill.exp
src/Debug/Shoebill.ilk
src/Debug/Shoebill.lib
src/Debug/Shoebill.pdb
src/hook/hook.vcxproj
src/hook/hook.vcxproj.filters
src/hook/INSTALL.vcxproj
src/hook/INSTALL.vcxproj.filters
src/hook/Debug/hook.lib
src/hook/hook.dir/Debug/SimpleInlineHook.obj
src/hook/hook.dir/Debug/vc120.pdb
src/hook/hook.dir/Debug/hook.tlog/cl.command.1.tlog
src/hook/hook.dir/Debug/hook.tlog/cl.read.1.tlog
src/hook/hook.dir/Debug/hook.tlog/cl.write.1.tlog
src/hook/hook.dir/Debug/hook.tlog/custombuild.command.1.tlog
src/hook/hook.dir/Debug/hook.tlog/custombuild.read.1.tlog
src/hook/hook.dir/Debug/hook.tlog/custombuild.write.1.tlog
src/hook/hook.dir/Debug/hook.tlog/hook.lastbuildstate
src/hook/hook.dir/Debug/hook.tlog/Lib-link.read.1.tlog
src/hook/hook.dir/Debug/hook.tlog/Lib-link.write.1.tlog
src/hook/hook.dir/Debug/hook.tlog/lib.command.1.tlog
src/hook/hook.dir/Release/SimpleInlineHook.obj
src/hook/hook.dir/Release/hook.tlog/cl.command.1.tlog
src/hook/hook.dir/Release/hook.tlog/cl.read.1.tlog
src/hook/hook.dir/Release/hook.tlog/cl.write.1.tlog
src/hook/hook.dir/Release/hook.tlog/custombuild.command.1.tlog
src/hook/hook.dir/Release/hook.tlog/custombuild.read.1.tlog
src/hook/hook.dir/Release/hook.tlog/custombuild.write.1.tlog
src/hook/hook.dir/Release/hook.tlog/hook.lastbuildstate
src/hook/hook.dir/Release/hook.tlog/Lib-link.read.1.tlog
src/hook/hook.dir/Release/hook.tlog/Lib-link.write.1.tlog
src/hook/hook.dir/Release/hook.tlog/lib.command.1.tlog
src/hook/Release/hook.lib
src/Release/Shoebill.dll
src/Release/Shoebill.exp
src/Release/Shoebill.lib
src/sampplugin/amx.vcxproj
src/sampplugin/amx.vcxproj.filters
src/sampplugin/INSTALL.vcxproj
src/sampplugin/INSTALL.vcxproj.filters
src/sampplugin/amx.dir/Debug/amxplugin.obj
src/sampplugin/amx.dir/Debug/vc120.pdb
src/sampplugin/amx.dir/Debug/amx.tlog/amx.lastbuildstate
src/sampplugin/amx.dir/Debug/amx.tlog/cl.command.1.tlog
src/sampplugin/amx.dir/Debug/amx.tlog/cl.read.1.tlog
src/sampplugin/amx.dir/Debug/amx.tlog/cl.write.1.tlog
src/sampplugin/amx.dir/Debug/amx.tlog/custombuild.command.1.tlog
src/sampplugin/amx.dir/Debug/amx.tlog/custombuild.read.1.tlog
src/sampplugin/amx.dir/Debug/amx.tlog/custombuild.write.1.tlog
src/sampplugin/amx.dir/Debug/amx.tlog/Lib-link.read.1.tlog
src/sampplugin/amx.dir/Debug/amx.tlog/Lib-link.write.1.tlog
src/sampplugin/amx.dir/Debug/amx.tlog/lib.command.1.tlog
src/sampplugin/amx.dir/Release/amxplugin.obj
src/sampplugin/amx.dir/Release/amx.tlog/amx.lastbuildstate
src/sampplugin/amx.dir/Release/amx.tlog/cl.command.1.tlog
src/sampplugin/amx.dir/Release/amx.tlog/cl.read.1.tlog
src/sampplugin/amx.dir/Release/amx.tlog/cl.write.1.tlog
src/sampplugin/amx.dir/Release/amx.tlog/custombuild.command.1.tlog
src/sampplugin/amx.dir/Release/amx.tlog/custombuild.read.1.tlog
src/sampplugin/amx.dir/Release/amx.tlog/custombuild.write.1.tlog
src/sampplugin/amx.dir/Release/amx.tlog/Lib-link.read.1.tlog
src/sampplugin/amx.dir/Release/amx.tlog/Lib-link.write.1.tlog
src/sampplugin/amx.dir/Release/amx.tlog/lib.command.1.tlog
src/sampplugin/Debug/amx.lib
src/sampplugin/Release/amx.lib
src/Shoebill.dir/Debug/CallbackManager.obj
src/Shoebill.dir/Debug/Callbacks.obj
src/Shoebill.dir/Debug/EncodingUtils.obj
src/Shoebill.dir/Debug/FakeAmx.obj
src/Shoebill.dir/Debug/Functions.obj
src/Shoebill.dir/Debug/HookManager.obj
src/Shoebill.dir/Debug/JniFunctions.obj
src/Shoebill.dir/Debug/JniUtils.obj
src/Shoebill.dir/Debug/linux.obj
src/Shoebill.dir/Debug/NativeFunctionManager.obj
src/Shoebill.dir/Debug/PluginBase.obj
src/Shoebill.dir/Debug/PluginMain.obj
src/Shoebill.dir/Debug/ShoebillMain.obj
src/Shoebill.dir/Debug/vc120.pdb
src/Shoebill.dir/Debug/Shoebill.tlog/cl.command.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/cl.read.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/cl.write.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/custombuild.command.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/custombuild.read.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/custombuild.write.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/link.command.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/link.read.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/link.write.1.tlog
src/Shoebill.dir/Debug/Shoebill.tlog/Shoebill.lastbuildstate
src/Shoebill.dir/Debug/Shoebill.tlog/Shoebill.write.1u.tlog
src/Shoebill.dir/Release/Callbacks.obj
src/Shoebill.dir/Release/EncodingUtils.obj
src/Shoebill.dir/Release/FakeAmx.obj
src/Shoebill.dir/Release/Functions.obj
src/Shoebill.dir/Release/HookManager.obj
src/Shoebill.dir/Release/JniFunctions.obj
src/Shoebill.dir/Release/JniUtils.obj
src/Shoebill.dir/Release/linux.obj
src/Shoebill.dir/Release/NativeFunctionManager.obj
src/Shoebill.dir/Release/PluginBase.obj
src/Shoebill.dir/Release/PluginMain.obj
src/Shoebill.dir/Release/ShoebillMain.obj
src/Shoebill.dir/Release/Shoebill.tlog/cl.command.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/cl.read.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/cl.write.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/custombuild.command.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/custombuild.read.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/custombuild.write.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/link.command.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/link.read.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/link.write.1.tlog
src/Shoebill.dir/Release/Shoebill.tlog/Shoebill.lastbuildstate
src/Shoebill.dir/Release/Shoebill.tlog/Shoebill.write.1u.tlog
Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
Win32/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
Win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog
Win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog
Win32/Release/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog
Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog
Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog
Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog
Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
