
/Binary
/Debug
/Release
*.ncb
*.suo
*.user
*.o
/Dependencies/sampplugin/Release
/Dependencies/sampplugin/Debug
/Source/Shoebill/Debug
/Source/Shoebill/Release
/Source/Wrapper/Release
/Source/Wrapper/Debug
/Server
*.sdf
*.opensdf
